extends layout

block content
    .jumbotron
     h1 CMPS 364 PC Order Database
     p This is very simply order database, containing generic products, customers, and orders.
     p Use the toolbar above to manage the various parts of the app.
     