extends ../layout

block content
  .panel.panel-default
    .panel-heading
      h1 New Order
    .panel-body
      form(action="/order/new", method="post")
        include _form
        button.btn.btn-primary(type="submit") Create
        