extends ../layout

block content
  .panel.panel-default
    .panel-heading
      h1 Confirm Deletion of Customer: #{customer.firstName} #{customer.lastName}
    .panel-body
      form(action=`/customer/delete/${customer.id}`, method="post")
        
        button.btn.btn-primary(type="submit") Delete
        a.btn.btn-default(style="margin-left:1em", href="/customer") Cancel